mat-sidenav{
  background: #0f172a ;
  width: 230px;
  height: 100%;
}
mat-sidenav-content{
  height: 100vh;
  /* background: white; */
 }
mat-sidenav-content .main {
  margin-left: 30px;  
}
mat-toolbar{
  justify-content: center;  
  /* justify-content: space-between;   */
}
mat-toolbar.mat-icon{
  margin-left: 15px;
  color: #6D8299;
}
mat-toolbar.box{
  margin-top: 15px; 
}
mat-form-field{
  margin-top: 15px;
  width:350px !important;
}
